---
---

@import "{{ site.theme }}";

/* h1 {
  
  color: magenta;
  
}*/

#myLine {
  
  height: 1px;
  margin: 0px;
  padding: 0px;
  
  margin-top: 10px;
  margin-bottom: 30px;
  
}

table {
    width:100%;
}

#sticky {
 width: 100%;
 padding:10px; 
 background-color:White;
 // border: thin solid Gainsboro;
 position: -webkit-sticky; /* Safari */
 position: sticky;
 top: 0;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#myImage {
  height: 50px;
}
